.nav {
    width:85%;
    margin-top: 5px;
    
    
 
}

.nav ul{
    display: flex;
    justify-content: center;
  
}

.nav li{
  margin:  0 18px;
}

.nav li a{
    color: #fff;
}


.btn{
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top:0;
    right: 0;
    font-size: 23px;
    display: none;
    outline: none;
}