.header{
  width: 100%;
  background-color: #111111;
  padding:20px 0;
  position:fixed;
  z-index: 100;
  box-sizing: border-box;
}


.containerFluid{
  width:100%;
  padding: 110px 0;
  background: #111111;
}
